.spacing-2 { letter-spacing:4px;}
.dark-blue { color:#c0392b}
.green { color:#16a085}
.thin { font-weight:300}
.light-gray { color:#a3abaf}
.light-background{ background-color:#ecf0f1}
.green-background{ background-color:#2980b9}
.contact-profile a { color:#222}
.contact-profile a:hover { color:#16a085}
.firstcharacter { float: left; color: #555; font-size: 55px; line-height: 60px; padding-top: 2px; padding-right: 8px; padding-left: 3px; font-family: Georgia; }

